@model UsersIndexViewModel

@{
    ViewData["Title"] = "All Users";
}

@foreach (var user in Model.Profiles)
{
    <div class="mb-3">
        <div>@user.UserId</div>
        <div>@user.FirstName</div>
        <div>@user.LastName</div>
        <div>@user.PhoneNumber</div>
    </div>
}

<header>
    <div class="container">
        <nav id="menu" class="menu-links">
            <div class="employeeName">
                <h1>(@User.FindFirst("DisplayName")?.Value)</h1>
                <h5>(@User.FindFirst("Role")?.Value)</h5>
            </div>
        </nav>
    </div>
</header>