@model UsersIndexViewModel

@{
    ViewData["Title"] = "All Users";
}

<div>
    <a class="admin-link" asp-controller="Admin" asp-action="Employees">SHOW EMPLOYEES</a>
</div>

<div class="container mt-5">
    @foreach (var user in Model.UsersWithRoles)
    {
        <div class="card mb-5">
            <div class="card-body">
                <div class=" justify-content-start align-items-center">
                    <h3>@user.Profile.FirstName @user.Profile.LastName</h3>
                    <div class="ms-2">
                        <div><b>ID:</b> @user.Profile.UserId</div>
                        <div><b>Phonenhumber:</b> @user.Profile.PhoneNumber</div>
                        @foreach (var role in user.Roles)
                        {
                            <p><b>Role:</b> @role</p>
                        }
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
