@model UsersIndexViewModel
@{
    ViewData["Title"] = "All Users";

    var users = await userService.GetAllAsync();

    //var role = await seedService.GetRoleAsync(RoleManager id);
}
@*@if (userManangerCustomIdentityUser.GetRolesAsync(users.ToList(users)))*@

@if (users != null) {
    foreach (var user in users)
    {
        <div class="mb-3">
            <div>@user.UserId</div>
            <div>@user.FirstName</div>
            <div>@user.LastName</div>
            <div>@user.PhoneNumber</div>
        </div>
    }
}

<header>
    <div class="container">
        <nav id="menu" class="menu-links">
            <div class="employeeName">
                <h1>(@User.FindFirst("DisplayName")?.Value)</h1>
                <h5>(@User.FindFirst("Role")?.Value)</h5>
            </div>
        </nav>
    </div>
</header>